*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
label{
    font-weight: bold;
}
button{
    border: none;
}
header{
    margin-top: 20px;
}
h3{
    font-family: sans-serif;
    color: orange;
}
.motto{
    font-family: cursive;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
}
table{
    margin-top: 5px;
}
.header{
    margin-bottom: 20px;
}
.position{
    padding-left: 10px;
    margin: auto;
    width: 30%;
    padding-bottom: 50px;
    background-color: rgb(236, 214, 255);
}
.carouseldiv {
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
    /* width: 80%; */
  }
.footer-div{
    float: left;
    width: 25%;
    /* border: 3px solid  black; */
}
.footer-div > p{
    font-weight: bold;
}
footer{
    /* padding-left: 6%; */
    /* padding-right: 6%; */
    background-color: black;
}
.companyinfo{
    font-size: large;
}